In [1]:
import pandas as pd

In [2]:
!wget https://datasets.imdbws.com/title.basics.tsv.gz

--2023-04-09 16:17:08--  https://datasets.imdbws.com/title.basics.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 18.65.229.92, 18.65.229.126, 18.65.229.32, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|18.65.229.92|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 170458420 (163M) [binary/octet-stream]
Saving to: ‘title.basics.tsv.gz’

title.basics.tsv.gz 100%[===================>] 162.56M  54.0MB/s    in 3.0s

2023-04-09 16:17:11 (54.0 MB/s) - ‘title.basics.tsv.gz’ saved [170458420/170458420]

In [3]:
df = pd.read_csv('https://datasets.imdbws.com/title.basics.tsv.gz', sep='\t')

/var/folders/c3/r_4cj39j3d9171vn6cwl_8y80000gn/T/ipykernel_72849/1006768213.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('https://datasets.imdbws.com/title.basics.tsv.gz', sep='\t')

In [4]:
len(df)

9759339

In [5]:
df.columns

Index(['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult',
       'startYear', 'endYear', 'runtimeMinutes', 'genres'],
      dtype='object')

In [6]:
df.head(10)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
5,tt0000006,short,Chinese Opium Den,Chinese Opium Den,0,1894,\N,1,Short
6,tt0000007,short,Corbett and Courtney Before the Kinetograph,Corbett and Courtney Before the Kinetograph,0,1894,\N,1,"Short,Sport"
7,tt0000008,short,Edison Kinetoscopic Record of a Sneeze,Edison Kinetoscopic Record of a Sneeze,0,1894,\N,1,"Documentary,Short"
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance
9,tt0000010,short,Leaving the Factory,La sortie de l'usine Lumière à Lyon,0,1895,\N,1,"Documentary,Short"

In [7]:
'''
schema = {
    tconst = Column(String), # ID
    titleType = Column(String), # the type/format of the title
    primaryTitle = Column(String), # more popular title
    originalTitle = Column(String),
    isAdult = Column(Integer), # 0: non-adult title; 1: adult title
    startYear = Column(Integer),
    endYear = Column(Integer),
    runTimeMinutes = Column(Integer),
    genres = List(Column(String)) # additional table?
'''

'\nschema = {\n    tconst = Column(String), # ID\n    titleType = Column(String), # the type/format of the title\n    primaryTitle = Column(String), # more popular title\n    originalTitle = Column(String),\n    isAdult = Column(Integer), # 0: non-adult title; 1: adult title\n    startYear = Column(Integer),\n    endYear = Column(Integer),\n    runTimeMinutes = Column(Integer),\n    genres = List(Column(String)) # additional table?\n'

In [11]:
duplicates = df[df.duplicated(subset=['tconst']) == True]

In [12]:
len(duplicates)

0