In [3]:
import pandas as pd

In [1]:
!wget https://datasets.imdbws.com/title.principals.tsv.gz

--2023-04-09 17:06:20--  https://datasets.imdbws.com/title.principals.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 18.65.229.126, 18.65.229.32, 18.65.229.63, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|18.65.229.126|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 433678137 (414M) [binary/octet-stream]
Saving to: ‘title.principals.tsv.gz’

title.principals.ts 100%[===================>] 413.59M  58.0MB/s    in 7.7s

2023-04-09 17:06:28 (53.9 MB/s) - ‘title.principals.tsv.gz’ saved [433678137/433678137]

In [4]:
df = pd.read_csv('https://datasets.imdbws.com/title.principals.tsv.gz', sep='\t')

In [5]:
len(df)

55531859

In [6]:
df.columns

Index(['tconst', 'ordering', 'nconst', 'category', 'job', 'characters'], dtype='object')

In [7]:
df.head(10)

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Self""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N
3,tt0000002,1,nm0721526,director,\N,\N
4,tt0000002,2,nm1335271,composer,\N,\N
5,tt0000003,1,nm0721526,director,\N,\N
6,tt0000003,2,nm1770680,producer,producer,\N
7,tt0000003,3,nm1335271,composer,\N,\N
8,tt0000003,4,nm5442200,editor,\N,\N
9,tt0000004,1,nm0721526,director,\N,\N

In [11]:
'''
schema = {
    tconst = Column(String), # FK title
    ordering = Column(Integer) #  a number to uniquely identify rows for a given titleId
    primaryName = Column(Integer), # a number to uniquely identify rows for a given titleId
    nconst = Column(String), # FK: name.basics 
    category = Column(Integer), # the category of job that person was in
    job = List(Column(String)), # the specific job title if applicable, else \N
    characters = List(Column(String)), # the name of the character played if applicable, else \N
}
'''

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 336-337: malformed \N character escape (1341712430.py, line 10)

In [12]:
df['category'].value_counts()

actor                  12269492
self                    9607616
actress                 9492609
writer                  7756370
director                6428004
producer                3605010
cinematographer         1909759
composer                1887895
editor                  1849962
production_designer      362097
archive_footage          359162
archive_sound              3883
Name: category, dtype: int64