In [1]:
import pandas as pd

In [2]:
!wget https://datasets.imdbws.com/title.ratings.tsv.gz

--2023-04-09 17:16:59--  https://datasets.imdbws.com/title.ratings.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 18.65.229.92, 18.65.229.32, 18.65.229.63, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|18.65.229.92|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6522158 (6.2M) [binary/octet-stream]
Saving to: ‘title.ratings.tsv.gz’

title.ratings.tsv.g 100%[===================>]   6.22M  27.2MB/s    in 0.2s

2023-04-09 17:16:59 (27.2 MB/s) - ‘title.ratings.tsv.gz’ saved [6522158/6522158]

In [3]:
df = pd.read_csv('https://datasets.imdbws.com/title.ratings.tsv.gz', sep='\t')

In [4]:
len(df)

1299152

In [5]:
df.columns

Index(['tconst', 'averageRating', 'numVotes'], dtype='object')

In [6]:
df.head(10)

      tconst  averageRating  numVotes
0  tt0000001            5.7      1965
1  tt0000002            5.8       262
2  tt0000003            6.5      1806
3  tt0000004            5.6       178
4  tt0000005            6.2      2604
5  tt0000006            5.1       179
6  tt0000007            5.4       816
7  tt0000008            5.4      2101
8  tt0000009            5.3       204
9  tt0000010            6.9      7104

In [7]:
'''
schema = {
    tconst = Column(String), # FK title
    averageRating = Column(Double),
    numVotes = Column(Integer)
}
'''

'\nschema = {\n    tconst = Column(String), # FK title\n    averageRating = Column(Float),\n    numVotes = Column(Integer)\n}\n'

In [13]:
df['averageRating'].max()

10.0

In [10]:
df['averageRating'].min()

1.0

In [14]:
df['numVotes'].max()

2724205