In [1]:
import pyspark
from pyspark.sql import SparkSession, types

In [2]:
!wget https://datasets.imdbws.com/title.ratings.tsv.gz

--2023-04-09 17:16:59--  https://datasets.imdbws.com/title.ratings.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 18.65.229.92, 18.65.229.32, 18.65.229.63, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|18.65.229.92|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6522158 (6.2M) [binary/octet-stream]
Saving to: ‘title.ratings.tsv.gz’

title.ratings.tsv.g 100%[===================>]   6.22M  27.2MB/s    in 0.2s

2023-04-09 17:16:59 (27.2 MB/s) - ‘title.ratings.tsv.gz’ saved [6522158/6522158]

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/04/23 16:12:49 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/04/23 16:12:50 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/04/23 16:12:50 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [3]:
df = spark.read \
    .option("header", "true") \
    .csv('title.ratings.tsv.gz', sep='\t')

In [4]:
df.count()

1299152

In [5]:
df.show()

+---------+-------------+--------+
|   tconst|averageRating|numVotes|
+---------+-------------+--------+
|tt0000001|          5.7|    1965|
|tt0000002|          5.8|     262|
|tt0000003|          6.5|    1806|
|tt0000004|          5.6|     178|
|tt0000005|          6.2|    2604|
|tt0000006|          5.1|     179|
|tt0000007|          5.4|     816|
|tt0000008|          5.4|    2101|
|tt0000009|          5.3|     204|
|tt0000010|          6.9|    7104|
|tt0000011|          5.3|     366|
|tt0000012|          7.4|   12187|
|tt0000013|          5.7|    1877|
|tt0000014|          7.1|    5479|
|tt0000015|          6.2|    1079|
|tt0000016|          5.9|    1491|
|tt0000017|          4.6|     325|
|tt0000018|          5.3|     593|
|tt0000019|          5.1|      31|
|tt0000020|          4.8|     356|
+---------+-------------+--------+
only showing top 20 rows

In [7]:
'''
schema = {
    tconst = Column(String), # FK title
    averageRating = Column(Double),
    numVotes = Column(Integer)
}
'''

'\nschema = {\n    tconst = Column(String), # FK title\n    averageRating = Column(Float),\n    numVotes = Column(Integer)\n}\n'

In [6]:
from pyspark.sql import types
title_schema = types.StructType([
    types.StructField('tconst', types.StringType(), True),
    types.StructField('averageRating', types.IntegerType(), True),
    types.StructField('numVotes', types.IntegerType(), True),
])

In [7]:
df = spark.read \
    .option("header", "true") \
    .csv(
        'title.ratings.tsv.gz', 
        sep='\t',
        schema=title_schema
    )

In [8]:
df.count()

1299152