In [3]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

In [1]:
!wget https://datasets.imdbws.com/title.episode.tsv.gz

--2023-04-09 16:45:16--  https://datasets.imdbws.com/title.episode.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 18.65.229.63, 18.65.229.92, 18.65.229.126, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|18.65.229.63|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 40432108 (39M) [binary/octet-stream]
Saving to: ‘title.episode.tsv.gz’

title.episode.tsv.g 100%[===================>]  38.56M  57.8MB/s    in 0.7s

2023-04-09 16:45:17 (57.8 MB/s) - ‘title.episode.tsv.gz’ saved [40432108/40432108]

In [4]:
df = pd.read_csv('https://datasets.imdbws.com/title.episode.tsv.gz', sep='\t')

In [5]:
len(df)

7407960

In [6]:
df.columns

Index(['tconst', 'parentTconst', 'seasonNumber', 'episodeNumber'], dtype='object')

In [7]:
df.head(10)

      tconst parentTconst seasonNumber episodeNumber
0  tt0041951    tt0041038            1             9
1  tt0042816    tt0989125            1            17
2  tt0042889    tt0989125           \N            \N
3  tt0043426    tt0040051            3            42
4  tt0043631    tt0989125            2            16
5  tt0043693    tt0989125            2             8
6  tt0043710    tt0989125            3             3
7  tt0044093    tt0959862            1             6
8  tt0044668    tt0044243            2            16
9  tt0044901    tt0989125            3            46

In [ ]:
'''
schema = {
    tconst = Column(String), # ID
    parentTconst = Column(String), # FK: title_basics?
    seasonNumber = Column(Integer),
    episodeNumber = Column(Integer)
}
'''

In [8]:
duplicates = df[df.duplicated(subset=['tconst']) == True]
len(duplicates)

0

In [21]:
df.loc[df['seasonNumber'] == '\\N', 'seasonNumber'] = np.nan
df.loc[df['episodeNumber'] == '\\N', 'episodeNumber'] = np.nan

In [27]:
# df['seasonNumber'] = df['seasonNumber'].astype('int')
# df['episodeNumber'] = df['episodeNumber'].astype('int')
df['seasonNumber'].map(type) == str

0           True
1           True
2          False
3           True
4           True
           ...
7407955     True
7407956     True
7407957     True
7407958     True
7407959     True
Name: seasonNumber, Length: 7407960, dtype: bool