In [3]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

In [1]:
!wget https://datasets.imdbws.com/title.crew.tsv.gz

--2023-04-09 16:36:20--  https://datasets.imdbws.com/title.crew.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 18.65.229.92, 18.65.229.63, 18.65.229.32, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|18.65.229.92|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 65308882 (62M) [binary/octet-stream]
Saving to: ‘title.crew.tsv.gz’

title.crew.tsv.gz   100%[===================>]  62.28M  26.3MB/s    in 2.4s

2023-04-09 16:36:23 (26.3 MB/s) - ‘title.crew.tsv.gz’ saved [65308882/65308882]

In [4]:
df = pd.read_csv('https://datasets.imdbws.com/title.crew.tsv.gz', sep='\t')

In [5]:
len(df)

9759339

In [6]:
df.columns

Index(['tconst', 'directors', 'writers'], dtype='object')

In [8]:
df.head(10)

      tconst            directors    writers
0  tt0000001            nm0005690         \N
1  tt0000002            nm0721526         \N
2  tt0000003            nm0721526         \N
3  tt0000004            nm0721526         \N
4  tt0000005            nm0005690         \N
5  tt0000006            nm0005690         \N
6  tt0000007  nm0005690,nm0374658         \N
7  tt0000008            nm0005690         \N
8  tt0000009            nm0085156  nm0085156
9  tt0000010            nm0525910         \N

In [ ]:
'''
schema = {
    tconst = Column(String), # ID
    directors = List(Column(String)), # FK: names_basics
    writers = List(Column(String)), # FK: names_basics
}
'''

In [9]:
duplicates = df[df.duplicated(subset=['tconst']) == True]
len(duplicates)

0