In [29]:
import pandas as pd

In [3]:
!wget https://datasets.imdbws.com/name.basics.tsv.gz

--2023-04-09 10:57:10--  https://datasets.imdbws.com/name.basics.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 18.65.229.63, 18.65.229.92, 18.65.229.126, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|18.65.229.63|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 243599575 (232M) [binary/octet-stream]
Saving to: ‘name.basics.tsv.gz.1’

name.basics.tsv.gz. 100%[===================>] 232.31M  62.5MB/s    in 3.8s

2023-04-09 10:57:14 (60.5 MB/s) - ‘name.basics.tsv.gz.1’ saved [243599575/243599575]

In [30]:
df = pd.read_csv('https://datasets.imdbws.com/name.basics.tsv.gz', sep='\t')

In [31]:
len(df)

12433969

In [11]:
df.columns

Index(['nconst', 'primaryName', 'birthYear', 'deathYear', 'primaryProfession',
       'knownForTitles'],
      dtype='object')

In [32]:
df.head(10)

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0045537,tt0053137,tt0072308,tt0050419"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0037382,tt0117057,tt0038355,tt0075213"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0057345,tt0056404,tt0054452,tt0049189"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0072562,tt0080455,tt0077975,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0083922,tt0050976,tt0060827,tt0050986"
5,nm0000006,Ingrid Bergman,1915,1982,"actress,soundtrack,producer","tt0036855,tt0038109,tt0038787,tt0034583"
6,nm0000007,Humphrey Bogart,1899,1957,"actor,soundtrack,producer","tt0042593,tt0037382,tt0043265,tt0034583"
7,nm0000008,Marlon Brando,1924,2004,"actor,soundtrack,director","tt0068646,tt0078788,tt0047296,tt0070849"
8,nm0000009,Richard Burton,1925,1984,"actor,soundtrack,producer","tt0059749,tt0087803,tt0061184,tt0057877"
9,nm0000010,James Cagney,1899,1986,"actor,soundtrack,director","tt0029870,tt0031867,tt0035575,tt0042041"

In [27]:
'''
schema = {
    nconst = Column(String), # ID
    primaryName = Column(String), # name of person
    birthYear = Column(Integer), # year of birth
    deathYear = Column(Integer), # year of death (if applicable)
    primaryProfession = List(Column(String)), # list of professions -> own table?
    knownForTitles = List(Column(movie IDs)), # list of project FK -> join
}
'''

'\nschema = {\n    nconst = Column(String), # ID\n    primaryName = Column(String), # name of person\n    birthYear = Column(Integer), # year of birth\n    deathYear = Column(Integer), # year of death (if applicable)\n    primaryProfession = List(Column(String)), # list of professions -> own table?\n    knownForTitles = List(Column(movie IDs)), # list of project FK -> join\n}\n'

In [39]:
# checking for duplicates
duplicates = df.groupby(['nconst']).size().reset_index(name='count')

In [37]:
duplicates[duplicates['count'] > 1] # no dups!

Empty DataFrame
Columns: [nconst, count]
Index: []